<!DOCTYPE html>
<html>
<head>
</head>

<body>

	<h1 class="address"> <%= data_array[0].address   %></h1>
	<h2 class = "from_data"> <%= data_array[0].from_data   %></h2>
	<h3 class = "number_request"> <%= data_array[0].count_req   %></h3>
</body>
</html>